@import url("../node_modules/@fontsource/noto-sans-tc/400.css");

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url('../font/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}