@import url("../node_modules/@fontsource/noto-sans-tc/300.css");
@import url("../node_modules/@fontsource/noto-sans-tc/400.css");
@import url("../node_modules/@fontsource/noto-sans-tc/500.css");
@import url("../node_modules/@fontsource/noto-sans-tc/600.css");
@import url("../node_modules/@fontsource/noto-sans-tc/700.css");
@import url("../node_modules/@fontsource/noto-sans-tc/900.css");

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url('../font/Open_Sans/OpenSans-ExtraBold.ttf') format('truetype');
}