html,
body {
    outline: none;
}

body {
    user-select: none;
    margin: 0;
    font-family: "Lato", "Noto Sans TC", "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    --surface-hsl: 0deg 0% 25%;
    --surface-variant-hsl: 0deg 0% 20%;
    --background-hsl: 0deg 0% 13%;
    --background-variant-hsl: 0deg 0% 16%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff00;
    border-radius: 4px;
}

@font-face {
    font-family: "Material Symbols Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../font/material-symbols-rounded.woff2") format("woff2");
}

.material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
}

.switch {
    display: inline-block;
    width: 45px;
    height: 26px;
    position: sticky;
    left: 84vw;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(12 16 22 / 20%);
    transition: .4s;
}

.slider.round {
    border-radius: 20px;

    &::before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: .2rem;
        bottom: 0.20rem;
        background-color: white;
        transition: .4s;
        border-radius: 15px;
    }
}

.switch input {
    display: none;
}

.switch input:checked+.slider {
    background-color: #1bd337;
    box-shadow: inset 0 0 3px rgb(0 0 0 /40%);

    &::before {
        transform: translateX(18px);
    }
}

.setting-wrapper {
    left: 0vw;
    height: 100%;
    min-height: 0;
    position: fixed;
    top: 0vw;
    width: 100%;
    z-index: 9999;
    display: none;
    opacity: 0;
    transition: opacity .3s ease;
}

.setting-container {
    display: flex;
    flex-direction: inherit;
    height: 100%;
    min-height: 0;
}

.setting-header,
.setting-content {
    width: 27vw;
    color: #fff;
    background-color: rgb(27 33 50 / 38%);
    backdrop-filter: blur(15px);
}

.setting-buttons {
    padding: 12px;
}

.button {
    background: rgb(44 51 68 / 61%);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 44px;
    cursor: pointer;
}

.button.on {
    background: rgb(84 107 165 / 61%);
}

.button span {
    font-size: 16px;
    font-weight: 500;
    opacity: 1;
    color: #fff;
}

.setting-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 3vh;
}

.back_to_home_wrapper {
    display: flex;
    align-items: center;
}


.back_to_home .report-detail-field-icon.material-symbols-rounded {
    position: relative;
    top: 0.5rem;
    left: 0.65rem;
    font-size: 15px;
}

@media screen and (max-width: 1110px) {
    .back_to_home_wrapper p {
        display: none;
    }
}

.setting-reset-btn {
    border-radius: 25px;
    border: 1px solid rgb(45 52 70 / 0%);
    background: rgb(45 52 70 / 61%);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    width: 70px;
    height: 39px;
    font-family: "Lato", "Noto Sans TC", "Open Sans", sans-serif;
    text-rendering: optimizeLegibility;
}

.setting-title span {
    font-size: 24px;
    font-weight: 500;
}

.setting-options-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-height: 0;
    padding: 12px 12px 12px 12px;
}

.setting-page-title {
    font-size: 25px;
    font-weight: bold;
    padding-top: 1vw;
    position: relative;
    bottom: .5rem;
    z-index: 1;
}

.setting-content {
    background-color: rgb(59 59 59 / 35%);
    backdrop-filter: blur(20px);
    flex: 1;
}

.setting-options-page {
    display: none;
}

.setting-options-page.active {
    display: flex;
}

.setting-item-wrapper {
    position: absolute;
    top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow-y: hidden;
    height: 84vh;
    padding-bottom: 1.5rem;

    &:hover {
        overflow-y: auto;
    }
}

.setting-item-content {
    width: 50vw;
    margin-top: 3vw;
}

.setting-item-title {
    padding-left: 1vw;
}

.setting-option span {
    font-size: 15px;
    font-weight: normal;
}

.setting-item-title {
    font-size: 17px;
    font-weight: 500;
}

.setting-option {
    display: grid;
    background-color: #0000003b;
    border-radius: 10px;
    margin-top: 3vh;
}


.setting-item-content div div:not(.select-items, .select-wrapper, .condition-items) {
    padding: 13px;
    align-content: center;
    justify-content: unset;
    display: flex;

    &:not(:last-child) {
        border-bottom: 1px solid black;
        border-color: rgb(255 255 255 / 5%);
    }
}

/**description**/
.setting-item-content .description {
    position: relative;
    top: .2rem;
    margin-left: .2rem;
    font-weight: 100 !important;
    font-size: 14px !important;
    display: flex;
    padding-left: .8vw;
}

.extended-info {
    color: #ff5656;
    align-items: center;
}

.extended-info .material-symbols-rounded {
    border-bottom: unset !important;
    border-color: unset !important;
    padding: 5px 5px 5px 5px;
}

.extended .setting-option {
    display: inline-grid;
}

.special-text {
    color: #ffc756;
}

.graphics .setting-option .selected-btn,
.general .setting-option .selected-btn {
    font-size: 25px;
    width: 45px;
    height: 26px;
    position: sticky;
    left: 84vw;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.current-local,
.current-city,
.current-town,
.separate {
    width: auto !important;
}

.location {
    cursor: pointer;
    border: unset !important;
    border-color: unset !important;
}


.setting-version,
.setting-uuid {
    flex-direction: column;
}

#version,
#uuid {
    font-size: 15px;
    font-weight: 100;
}

.setting-info div div {
    flex-direction: column;
    padding: 10px;
}

.contributor ul {
    margin: 0;
}

li {
    list-style-type: square;
}

.back_to_home {
    border-radius: 30px;
    border: 1px solid #424a5b0d;
    height: 30px;
    width: 30px;
    background: #424a5b0d;
    margin-right: .6rem;
    backdrop-filter: blur(8px);
    cursor: pointer;
}

.reset-confirm-wrapper {
    display: grid;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    bottom: -100%;
    transition: bottom 0.3s ease;
}

.reset-confirm-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: rgb(27 33 50 / 38%);
    backdrop-filter: blur(12px);
    padding: 15px;
    border-width: 1px 0px 0px 0px;
    border-color: #ffffff1c;
    border-style: solid;
}

.reset-confirm-content span {
    color: #fff;
}

.reset-confirm-btn div {
    border-radius: 5px;
    border: 1px solid #ffffff24;
    padding: 5px;
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
}


.reset-confirm-btn {
    display: flex;
    margin-top: 1vw;
}

.reset-confirm-btn span {
    font-size: 15px;
}

.setting-range-content {
    width: 12vw;
    position: relative;
    left: 0vw;
    padding: 0 !important;
}

.select-wrapper {
    padding-top: 0px !important;
}

.select-items {
    position: relative;
    color: white;
    border-radius: 5px;
    width: 30%;
    overflow-y: auto;
    padding: 13px;
    display: grid;
    scroll-snap-type: y mandatory;
    scroll-padding: 0.5em;
    overscroll-behavior: contain;
    align-items: center;
}

.local div,
.city div,
.town div,
.station div,
.int div {
    color: white;
    cursor: pointer;
    user-select: none;
    justify-content: center !important;
    scroll-snap-align: start;
    align-items: center;
    text-align: center;
}

.local div:hover,
.city div:hover,
.town div:hover,
.station div:hover,
.int div:hover,
.select-option-selected {
    background-color: rgb(255 255 255 / 6%);
}



.station span:first-child {
    width: auto !important;
    margin-right: 4px;
}

.SE-Net {
    color: #ffc756;
}

.MS-Net {
    color: #56deff;
}

.select-arrow-active {
    border-color: #000 transparent transparent transparent;
}

.select-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease;
    display: flex;
}

.select-wrapper.select-show {
    height: 1000px;
    max-height: 8rem;
}

.select-wrapper.select-show-big {
    height: 1000px;
    max-height: 14rem;
}

.select-items.station {
    max-height: 14.4em;
    width: 100%;
}

.slider-container {
    position: relative;
    width: 10vw;
    height: 5px;
    background-color: #d3d3d3;
    border-radius: 5px;
    margin: 20px 0;
    padding: 0 !important;
}

.slider-track {
    height: 100%;
    background-color: #0073fc;
    border-radius: 5px;
    padding: 0 !important;
}

.slider-thumb {
    position: absolute;
    top: 50%;
    left: 0;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px !important;
}

.slider-wrapper {
    padding: 0 !important;
    right: 0;
    width: 6vw;
    height: 26px;
    position: sticky;
    left: 69vw;
    transform: translate(-7%, 0%);
    align-items: center;
}

.usr-account-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
}

.usr-account-info-content {
    text-align: center;
}

.login-forms-content input {
    background: #fff0;
    height: 1.5vw;
    margin: 5px;
}

.usr-account-info-container {
    width: 21vw;
    justify-content: center;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: rgb(27 33 50 / 0%);
    backdrop-filter: blur(1px);
    padding: 15px;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff14;
    border-style: solid;
    overflow: hidden;
}

.usr-account-info-content {
    transform: translateX(-175%);
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.login-forms-content {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;
    display: none;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.show-login-form {
    display: grid;
    transform: translateX(0);
    opacity: 1;
}

.show-account-info {
    display: grid;
    transform: translateX(0%);
    opacity: 1;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_msg {
    font-weight: bold;
}

.login_msg.error {
    color: #ff7373;
}

.login_msg.success {
    color: #73ff96;
}

::-webkit-input-placeholder {
    color: #fff;
}

.login-forms-content input {
    background-color: #f9f9f900;
    border: 1px solid #ffffff1f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family: "Noto Sans TC", sans-serif;
    width: 100%;

    &:focus {
        border-color: #aad7fc80;
        outline: none;
    }
}


.login-back {
    display: flex;
    font-size: 15px;
    align-items: flex-end;
    color: #377aff;
    font-weight: bold;
    margin-bottom: .5vw;
    cursor: pointer;
    width: 100%;

    &:hover {
        color: #4e89ff;
    }
}

.login-back div {
    font-size: 18px;
}

.login-btn {
    border-radius: 5px;
    border: 1px solid #ffffff24;
    padding: 5px;
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.logout-btn {
    border-radius: 5px;
    border: 1px solid #ffffff24;
    padding: 5px;
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    cursor: pointer;
    align-items: center;
    display: none;
    justify-content: center;
    margin-top: 1vh;
}

#forget {
    margin-top: 0.5vw;
    cursor: pointer;
    color: #ff6060;
    text-decoration: none;
    border-bottom: 0px dotted;
}

.realtime-int,
.estimate-int {
    border: 1px solid #ffffff36;
    width: 35px;
    display: inline-flex;
    text-align: center;
    border-radius: 5px;
    height: 24px;
    justify-content: center;
}

.warning-realtime-station .select-items,
.warning-estimate-int .select-items {
    width: 100%;
    justify-content: center;
    display: block;
}

.int div {
    justify-content: center !important;
}